<div class="container" ng-controller="updateCtrl">
    <div ng-controller="updateCtrl">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 studentColumn">
                <table style="width:100%" class="table">
                    <tr>
                        <th colspan="2">
                            {{selectedStudent.studentname}}
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Total Books Read:
                        </td>
                        <td>
                            <span>{{selectedStudent.booksread}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Longest Book Read:
                        </td>
                        <td>
                            {{selectedStudent.maxPages}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="formButton" data-toggle="modal" data-target="#formModal" ng-click="hideAlert()">Log a New Book</button>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="madLib" ng-show="myValue">
                    <p>There once was <span class="expressions"><strong>{{ student.character }}</strong></span> named <span class="expressions"><strong>{{ selectedStudent.studentname }}</strong></span>.
                        <span class="expressions"><strong>{{ selectedStudent.studentname }}</strong></span> was super-duper AWESOME and loveeeed to read books of any level, shape or size. <span class="expressions"><strong>{{ selectedStudent.studentname }}</strong></span> read <span class="expressions"><strong>{{ student.book }}</strong></span> for
                        <span class="expressions"><strong>{{ student.time }}</strong></span> this week, my how time flies! <span class="expressions"><strong>{{ selectedStudent.studentname }}</strong></span> reads in so many amazing places like <span class="expressions"><strong>{{ student.place }}</strong></span> where he/she flipped through <span class="expressions"><strong>{{ student.pagesread }}</strong></span>.
                        Before
                        <span class="expressions"><strong>{{ selectedStudent.studentname }}</strong></span> knew it, he/she had read <span class="expressions"><strong>{{ student.booksread }}</strong></span> books and was inching closer and closer toward another super cool reward.</p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="loginModalLabel">Log a Book:</h4>
                    </div>



                    <div class="modal-body">
                        <div class="bookdiv">
                            <div>

                                <input type="text" placeholder="Enter Title of Book" ng-model="student.book" id="bookTitleField">
                            </div>
                        <br>

                        <div class="drop1">
                            <select required ng-model="student.character">
                                <option value="" disabled selected>How would you describe yourself today?</option>
                                <option>a rockstar</option>
                                <option>an explorer</option>
                                <option>an adventurer</option>
                                <option>a champion</option>
                            </select>
                        </div><br>

                        <div class="drop2">
                            <select required ng-model="student.place">
                                <option value="" disabled selected>Pick a place</option>
                                <option>the park</option>
                                <option>the beach</option>
                                <option>at school</option>
                                <option>at home</option>
                                <option>in outerspace</option>
                                <option>other</option>
                            </select>
                        </div><br>

                        <div class="drop3">
                            <select required ng-model="student.pagesread">
                                <option value="" disabled selected>How many pages have you read?</option>
                                <option>less than 50 pages</option>
                                <option>somewhere between 50 - 100 pages</option>
                                <option>somewhere between 100 - 200 pages</option>
                                <option>200 or more pages</option>
                            </select>
                        </div><br>


                        <div class="drop4">
                            <select required ng-model="student.time">
                                <option value="" disabled selected>How long did you read?</option>
                                <option>30 minutes</option>
                                <option>one hour</option>
                                <option>more than an hour</option>
                            </select>
                        </div><br>
                        <div id="buttonDiv">
                            <button type="submit" ng-click="updateBooks(student)" data-dismiss="modal">Let's Submit!</button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
