<div ng-controller="dbCtrl">

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="headerSplash" src="img/kidsBooks.jpeg" />
                <h1 class="headText">Bookmarkd</h1>
                <h4 class="headSubText"><em>Read books, earn trophies!</em></h4>
            </div>
        </div>
        <div class="row head-spacer">

        </div>
    </div>
</section>
<section id="hello">
    <div class="container">
        <div class="row">
						<div class="col-md-1">
						</div>
            <div class="col-md-4">
							<figure class="text-center" >
								<img src="img/book.png" class="frontPageImg" />
							</figure>
							<br />
							<ul>
								<li>
									Keep track of the number of books you read.
								</li>
                <li>
                  Enter the number of pages, and where you read the book.
                </li>
                <li>
                  Read a fun story based on the book you just read!
                </li>

							</ul>
            </div>
						<div class="col-md-2">
						</div>
						<div class="col-md-4">
							<figure class="text-center" >
								<img src="img/trophy.png" class="frontPageImg"/>
							</figure>
							<br />
							<ul>
								<li>
									Earn rewards by reading books!
								</li>
                <li>
                  Trophies will unlock based on different requirements.
                </li>
                <li>
                  Read more books to unlock more trophies!
                </li>
							</ul>
            </div>
						<div class="col-md-1">
						</div>
        </div>
    </div>
</section>

</div>
