<div ng-controller="dbCtrl">

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="headerImageContainer jumbotron">
                <h1 class="headText">Bookmarkd</h1>
                <h4 class="headSubText"><em>Read books, earn trophies!</em></h4>
              </div>
            </div>
        </div>
        <div class="row head-spacer">

        </div>
    </div>
</section>
<section id="hello">
    <div class="container">
        <div class="row">
						<div class="col-md-1">
						</div>
            <div class="col-md-4">
							<figure class="text-center" >
								<img src="img/book.png" class="frontPageImg" />
							</figure>
							<br />
							<p class="introList">
                Keep track of the number of books you read.
              </p>
              <p class="introList">
                Enter the number of pages, and where you read the book.
              </p>
              <p class="introList">
                Read a fun story based on the book you just read!
              </p>
            </div>
						<div class="col-md-2">
						</div>
						<div class="col-md-4">
							<figure class="text-center" >
								<img src="img/trophy.png" class="frontPageImg"/>
							</figure>
							<br />
              <p class="introList">
                Earn rewards by reading books!
              </p>
              <p class="introList">
                Trophies will unlock based on different requirements.
              </p>
              <p class="introList">
                Read more books to unlock more trophies!
              </p>
            </div>
						<div class="col-md-1">
						</div>
        </div>
    </div>
</section>

</div>
