<div ng-controller="dbCtrl">

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="headerImageContainer jumbotron">
                <h1 class="headText">Bookmarkd</h1>
                <h4 class="headSubText"><em>Read books, earn trophies!</em></h4>
              </div>
            </div>
        </div>
        <div class="row head-spacer">

        </div>
    </div>
</section>
<section id="hello">
    <div class="container">
        <div class="row">
						<div class="col-md-1">
						</div>
            <div class="col-md-4">
							<figure class="text-center" >
								<img src="img/book.png" class="frontPageImg" />
							</figure>
							<br />
							<p class="introList">
                Keep track of books you read!
              </p>
              <p class="introList">
                Enter the amount of pages you read!
              </p>
              <p class="introList">
                Read a fun story after logging a book!
              </p>
            </div>
						<div class="col-md-2">
						</div>
						<div class="col-md-4">
							<figure class="text-center" >
								<img src="img/trophy.png" class="frontPageImg"/>
							</figure>
							<br />
              <p class="introList">
                Read more books to unlock trophies!
              </p>
              <p class="introList">
                Every book leads to a reward!
              </p>
              <p class="introList">
                Watch as your trophies become unlocked!
              </p>
            </div>
						<div class="col-md-1">
						</div>
        </div>
    </div>
</section>

</div>
