<div class="container">
<div class="row">
       <div class="col-md-3" ng-repeat='trophy in trophies' >
           <div class="flip-container" ontouchstart="this.classList.toggle('hover');" >
               <div ng-class='{flipper: !trophy.locked}'>
                   <div class="front">
                       <img ng-src='{{trophy.sauce}}' alt="trophy.alternate" class="trophy" ng-class='{locked: trophy.locked}'>
                   </div>
                   <div class="back box">
                       <p class="text">
                     {{trophy.trophyName}}
                       </p>
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>


       

