<div class="container">
    <div class="row">
        <div ng-repeat='trophy in trophies'>
            <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-md-3">
               <h6> {{trophy.trophyName}}</h6>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div ng-class='{flipper: !trophy.locked}'>
                        <div class="front">
                            <img ng-src='{{trophy.source}}' alt="trophy.alternate" class="trophy" ng-class='{locked: trophy.locked}'>
                        </div>
                        <div class="back box">

                        </div>

                    </div>
                </div>
                <div class="progress" ng-if="trophy.progress && trophy.barValue < 100" >
                   <div class="progress-bar" role="progressbar" aria-valuenow="{{trophy.barValue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{trophy.barValue}}%;">
                   {{trophy.barValue}}%
             </div>
           </div>
            </div>
        </div>
    </div>
</div>
