/*a {
    font-family: 'Cabin Sketch', cursive;
}*/

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -90px;
    background-color: #02C8A7;
}

.navbar-default {
    background-color: #f9BE02!important;
    border-color: #006bb3!important;
}

.navbar-nav>li>a {
    color: white!important;
    /*transition: all .2s ease-in-out;*/
}

.navbar-nav>li>a:hover {
    /*color: #333!important;*/
    transform: scale(1.1);
}

.footer {
    height: 90px;
    background-color: #F53240;
}

.push {
    height: 90px;
}

.description {
    margin: 20px;
    text-align: center;
    margin-right: 10px;
    color: white;
    text-shadow: 2px 2px 25px #000000;
}

.headButton {
    color: #fff;
    /*background-color: #F9BE02;*/
    border: none;
    margin: 10px;
    padding: 5px;
    background-color: #F53240;
    border-radius: 20%;
    
}

.headButton:hover {
    background-color: #F53240;
    opacity: 0.7;
}

.headButton:active {
    /*background-color: #27496d;*/
}

.formButton {
    color: #fff;
    /*background-color: #F9BE02;*/
    border: none;
    margin: 10px;
    padding: 5px;
    background-color: #F53240;
    border-radius: 20%;
}

.formButton:hover {
    background-color: #F53240;
    opacity: 0.7;
}

.formButton:active {}

.greeting {
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

footer p {
    text-align: center;
    color: white;
}

.frontPageImg {
    border: black;
    box-shadow: 5px 5px 15px #606060;
    border-radius: 50%;
}

.box, .trophy {
    height: 175px;
    width: 200px;
    border-radius: 50%;
    margin-top: 0px;
    background-color: #0071bc;
    box-shadow: 5px 5px 15px #606060;
}

.locked {
    filter: brightness(35%) grayscale(100%);
}

.flip-container {
    perspective: 1000px;
    margin: auto;
}


/* flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 200px;
    height: 175px;
}


/* flip speed goes here */

.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

h1, h4, li {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 25px #000000;
}

#intro {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 25px #000000;
}

h4 {
    text-align: center;
    color: white;
}

li {
    text-align: center;
    color: white;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.progress {
    top: 50px;
    margin: auto;
    margin-top: 25px;
    width: 50%;
    position: absolute;
    z-index: 100;
    margin-left: 50px;
}

.progress-bar {
    min-width: 20px;
}

.table {
    box-shadow: 2px 3px 4px gray;
}
